* {
	box-sizing: border-box;
}
body {
	margin: 0;
	overflow-y: hidden;
	--primary: none;
	--secondary: none;
	--tertiary: none;
}
.color {
	width: 75px;
	height: 75px;
	background: linear-gradient(var(--primary), transparent),
		linear-gradient(-90deg, var(--tertiary), transparent),
		linear-gradient(90deg, var(--secondary), transparent);
	position: fixed;
	cursor: pointer;
	z-index: 9;
}
small {
	position: fixed;
	z-index: 9;
	bottom: 0;
	left: 0;
	font-size: 18px;
	background-color: white;
}
.color-black {
	background: black;
	border: 3px solid white;
}
.container {
	position: relative;
	z-index: 3;
}
.gradient {
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	background: linear-gradient(var(--primary), transparent),
		linear-gradient(-90deg, var(--tertiary), transparent),
		linear-gradient(90deg, var(--secondary), transparent);
	transition: all 0.5s ease-in;
}
.palette {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 100px;
	opacity: 0;
	transition: all 0.5s ease-in;
}
p {
	margin: 0;
	color: black;
	font-size: 20px;
}
.primary {
	background-color: var(--primary);
}
.secondary {
	background-color: var(--secondary);
}
.tertiary {
	background-color: var(--tertiary);
}
main {
	/* I do it like this(height) cuz its all a mambo with flexbox(I don't feel like working xd) */
	height: 540px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	position: relative;
	z-index: 5;
}
.opacity-on {
	opacity: 1;
}
